{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div>
    <div class="letter-intro">
        <h2 class="letter-title">Lasta's Letter</h2>
        <p class="letter-description">
            From Bitcoin to burpees, Lasta's Letter is a bi-weekly newsletter that provides insights on a wide range of topics, including bitcoin, nutrition, fitness, and everything in between.
            Jordan uses his research and experiences to lift the veil on these sometimes confusing subjects.
        </p>
        <p class="letter-subscribe">Letter to subscribe now than later! <a class="letter-signup"href="#/portal/signup">Subscribe here.</a></p>
    </div>
    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
    {{!-- <div class="collections">
        {{#get "tags" limit="all"  include="count.posts" order="count.posts desc"}}
            {{#foreach tags}}
                {{> "card-tag"}}
            {{/foreach}}
        {{/get}}
    </div> --}}

    <div class="inner posts">

        <div class="post-feed">
            {{#get "posts" include="tags" limit="all" as |post|}}
                {{! Loop through our featured posts }}
                {{#foreach post}}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>
    </main>
</div>