{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div>
    <div class="page-intro">
        <h2 class="newsletter-title">Lasta's Letter</h2>
        <p>
            From Bitcoin to burpees: Lasta's Letter provides insights on bitcoin, nutrition, fitness, and everything in between.</p>
        <p>Jordan uses his research and experience to lift the veil on these opaque topics.</p>
        <p>Let's get to it. Subscribe here.</p>
    </div>
    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
    {{!-- <div class="collections">
        {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
            {{! Loop through our featured posts }}
            {{#foreach tags}}
                <p>{{name}} ({{count.posts}})</p>
            {{/foreach}}
        {{/get}}
    </div> --}}

    <div class="inner posts">

        <div class="post-feed">
            {{#get "posts" limit="all" as |post|}}
                {{! Loop through our featured posts }}
                {{#foreach post}}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>
    </main>
</div>