{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div>
    <div class="letter-intro">
        <h2 class="letter-title">Blog</h2>
        <p class="letter-description">
            A place for sharing my experiences, learnings, and insights outside of Bitcoin with a focus on nutrition, fitness, and privacy.
        </p>
    </div>

    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#get "posts" include="tags" filter="primary_tag:blog" limit="9" as |post|}}
                {{! Loop through our featured posts }}
                {{#foreach post}}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
        <div class="page-button-position">
            <a class="page-button gh-head-button gh-portal-close" href="https://www.jordanlaster.com/tag/blog">View All Posts</a>
        </div>
    </div>
    </main>
</div>