{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div>
    <div class="letter-intro">
        <h2 class="letter-title">Lasta's Letter</h2>
        <p class="letter-description">
            Lasta's Letter is a biweekly newsletter dedicated to all things Bitcoin. Having been immersed in the space since March 2020, 
            I've gained extensive knowledge and experience that I'm excited to share with you. Whether you're a seasoned Bitcoiner 
            or just starting, you'll gain valuable insights and actionable advice to help you navigate the world of Bitcoin.
        </p>
        <p class="letter-subscribe">Letter to subscribe now than later! <a class="letter-signup"href="#/portal/signup">Subscribe here.</a></p>
    </div>

    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#get "posts" include="tags" filter="primary_tag:lastas-letter" limit="9" as |post|}}
                {{! Loop through our featured posts }}
                {{#foreach post}}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
        <div class="page-button-position">
            <a class="page-button gh-head-button gh-portal-close" href="https://www.jordanlaster.com/tag/lastas-letter">View All Posts</a>
        </div>
    </div>
    </main>
</div>