{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div>
    <div class="letter-intro">
        <h2 class="letter-title">Off Chain</h2>
        <p class="letter-description">
            Off Chain covers a diverse range of topics outside of Bitcoin and Lasta's Letter.
            Most notably self-improvement, nutrition, fitness, and other relevant areas. By sharing 
            my own experiences, you can gain practical tips and valuable insights to help you achieve 
            your goals.
        </p>
        <p class="letter-subscribe">It's off the chain! <a class="letter-signup"href="#/portal/signup">Subscribe here.</a></p>
    </div>

    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#get "posts" include="tags" filter="primary_tag:{{primary_tag.slug}}" limit="all" as |post|}}
                {{! Loop through our featured posts }}
                {{#foreach post}}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>
    </main>
</div>